# Google Cloud Storage
GCS_BUCKET=raw_glamira_dat3112
GCP_PROJECT=project-5-unigap

# MongoDB
MONGO_URI=mongodb://localhost:27017/
MONGO_DB=glamira
BATCH_SIZE=10000

# Local file paths
IP_LOCATION_FILE=~/project05/data/ip_location.csv
PRODUCTS_FILE=~/project05/data/products_final_v2.csv

# Logging
LOG_DIR=logs
